In [12]:
import pandas as pd

# Configure pandas to display a maximum of 50 rows
pd.set_option('display.max_rows', 50)

In [13]:
import yfinance as yf
dat = yf.Ticker("MSFT")

In [14]:
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT241206C00240000,2024-11-21 14:40:22+00:00,240.0,175.58,190.75,191.50,0.00,0.000000,NaN,1,2.105473,True,REGULAR,USD
1,MSFT241206C00250000,2024-11-29 15:19:59+00:00,250.0,171.89,180.75,181.65,0.00,0.000000,3.0,3,2.105473,True,REGULAR,USD
2,MSFT241206C00300000,2024-11-21 17:47:15+00:00,300.0,131.28,130.75,131.60,14.68,12.590052,30.0,35,1.435550,True,REGULAR,USD
3,MSFT241206C00305000,2024-11-22 17:59:31+00:00,305.0,110.24,125.80,126.60,0.00,0.000000,7.0,7,1.376956,True,REGULAR,USD
4,MSFT241206C00310000,2024-11-25 20:54:40+00:00,310.0,109.80,120.80,121.60,0.00,0.000000,1.0,2,1.320316,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,MSFT241206C00530000,2024-11-18 18:57:35+00:00,530.0,0.01,0.00,0.01,0.00,0.000000,6.0,7,0.546880,False,REGULAR,USD
57,MSFT241206C00535000,2024-11-26 17:08:56+00:00,535.0,0.01,0.00,0.01,0.00,0.000000,500.0,502,0.562504,False,REGULAR,USD
58,MSFT241206C00540000,2024-10-31 19:15:53+00:00,540.0,0.03,0.00,0.14,0.00,0.000000,NaN,7,0.750003,False,REGULAR,USD
59,MSFT241206C00550000,2024-11-27 17:45:31+00:00,550.0,0.01,0.00,0.01,0.00,0.000000,1.0,4,0.625004,False,REGULAR,USD
60,MSFT241206C00560000,2024-12-02 16:27:13+00:00,560.0,0.01,0.00,0.01,0.00,0.000000,1.0,106,0.671878,False,REGULAR,USD

In [21]:
tickers = yf.Tickers('MSFT AAPL GOOG')
display(pd.DataFrame(tickers.tickers['MSFT'].info))
# yf.download(['MSFT', 'AAPL', 'GOOG'], period='1mo')
downloaded_data = yf.download(['MSFT'], period='max')
downloaded_df = pd.DataFrame(downloaded_data)
display(downloaded_df)

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
1,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
2,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
3,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
4,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
5,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
6,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
7,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
8,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431
9,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.35604,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2431

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,
1986-03-13,0.059827,0.097222,0.101563,0.088542,0.088542,1031788800
1986-03-14,0.061963,0.100694,0.102431,0.097222,0.097222,308160000
1986-03-17,0.063032,0.102431,0.103299,0.100694,0.100694,133171200
1986-03-18,0.061429,0.099826,0.103299,0.098958,0.102431,67766400
1986-03-19,0.060361,0.098090,0.100694,0.097222,0.099826,47894400
...,...,...,...,...,...,...
2024-11-25,418.790009,418.790009,421.079987,414.850006,418.380005,27691100
2024-11-26,427.989990,427.989990,429.040009,418.850006,419.589996,23458900
2024-11-27,422.989990,422.989990,427.230011,422.019989,425.109985,18332400
2024-11-29,423.459991,423.459991,424.880005,417.799988,420.089996,16271900
2024-12-02,431.380005,431.380005,431.899994,421.309998,421.540009,10381468

In [16]:
spy = yf.Ticker('SPY').funds_data
display(spy.description)
display(spy.top_holdings)

'The Trust seeks to achieve its investment objective by holding a portfolio of the common stocks that are included in the index (the “Portfolio”), with the weight of each stock in the Portfolio substantially corresponding to the weight of such stock in the index.'

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.071161
NVDA                       NVIDIA Corp         0.067663
MSFT                    Microsoft Corp         0.062576
AMZN                    Amazon.com Inc         0.036076
META        Meta Platforms Inc Class A         0.025691
GOOGL             Alphabet Inc Class A         0.020771
GOOG              Alphabet Inc Class C         0.017184
BRK-B   Berkshire Hathaway Inc Class B         0.017113
AVGO                      Broadcom Inc         0.016373
TSLA                         Tesla Inc         0.014362

In [22]:
# read tickers from company_tickers.json
import json
with open('company_tickers.json') as f:
    data = json.load(f)
    tickers = list(data.values())
    tickers = [t['ticker'] for t in tickers]

display("Total tickers: ", len(tickers))
display(pd.DataFrame(tickers))

'Total tickers: '

10016

             0
0         NVDA
1         AAPL
2         MSFT
3         AMZN
4        GOOGL
...        ...
10011    MDAIW
10012  GCTS-WT
10013    RGTIW
10014    SOARW
10015      DDT

[10016 rows x 1 columns]

In [23]:
industries = {}

# get industry for first 10 tickers
for ticker in tickers[:10]:
    ticker_info = yf.Ticker(ticker).info
    industries[ticker] = ticker_info.get('industry', 'N/A')

display(pd.DataFrame(industries.items(), columns=['Ticker', 'Industry']))

  Ticker                        Industry
0   NVDA                  Semiconductors
1   AAPL            Consumer Electronics
2   MSFT       Software - Infrastructure
3   AMZN                 Internet Retail
4  GOOGL  Internet Content & Information
5   META  Internet Content & Information
6   TSLA              Auto Manufacturers
7  BRK-B         Insurance - Diversified
8    TSM                  Semiconductors
9   AVGO                  Semiconductors